/* styles.css */
body {
  background-color: #121212; /* Dark background for the whole app */
  color: white;
}

.bg-dark-gray {
  background-color: #121212;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  background-color: #4C9F70; /* Hover color for buttons */
}

input, select, button {
  background-color: #333;
  color: white;
}

table {
  background-color: #1e1e1e;
}

th, td {
  padding: 0.5rem;
}

th {
  text-align: left;
  background-color: #2a2a2a;
}
